* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(153, 72, 72, 0.7), rgba(185, 20, 20, 0.7)),url(img/midil17.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo {
    color: floralwhite;
    font-size: small;
    
}